<ul class="nav navbar-nav mr-auto">
		<a class="nav-link" href="/admin/">
				Admin
		</a>

		<a class="nav-link" href="{% url 'covid:list_covid_models' %}">
				List Models
		</a>

		<a class="nav-link" href="{% url 'covid:rationale' %}">
				Rationale
		</a>
</ul>

<ul class="nav navbar-nav ml-auto">

		{% if request.user.is_authenticated %}
			<a class="nav-link" href="{% url 'login' %}">
				Log Out
			</a>
		{% else %}
			<a class="nav-link" href="{% url 'logout' %}">
				Log In
			</a>
		{% endif %}
</ul>
