{% extends "base.html" %}

{% block title %}{{ode_model.name}} Detail{% endblock %}

{% block content %}
    <div class="container">

        <h3 class="my-3">{{ ode_model.name }}</h3>
        <div class="row">
            <div class="col">
                <div class="text-right">
                    <a type="button" class="btn btn-danger" href="{% url 'covid:delete_ode' ode_model.pk %}">Delete Model</a>
                </div>
            </div>
        </div>
        <hr>
        {% include 'covid/ode_parameter_form.html' %}
        <hr>

        <div class="row justify-content-between" >
            <div class="form-group form-check">
                <input type="checkbox" checked=true class="form-check-input" id="auto-render">
                <label class="form-check-label">Render on change</label>
            </div>

            <button id="save-btn" class="btn btn-primary disabled">Save parameters</button>
            <button id="django-btn" class="btn btn-success" title="Watch stdout for debugging">Simulate in Django</button>
            <button id="js-btn" class="btn btn-success" title="Watch browser console for debugging">Simulate in JavaScript</button>
        </div>
        <div class="row">
            <div class="col text-center my-2" id="svg-container"></div>
        </div>
        <div class="row">
            <button id="save-svg-btn" href="{% url 'covid:save_ode_image' ode_model.pk %}" class="btn btn-primary disabled" title="Gets used to in rendering of rationale">Save SVG</button>
        </div>

    </div>
    <div id="data-div" data-solution='{{ data }}'></div>


{% endblock %}

{% block postscripts %}


<script>


{% include "covid/detail_covid_model.js" %}

</script>

{% endblock %}